.main {
  width:100%;
  max-width:600px;
  font-family:sans-serif
}

caption, .footer {
  margin:10px 0;
  padding:5px;
  color: #ffffff;
  background-color:#bd1f44;
}

.footer{
  font-size: 0.7em;
}

.header, .footer{
   margin:10px 0;
}

table{
  width:100%;
}

tr{
  background-color:#eeeeee;
  padding:5px
}

.pre{
  white-space: pre;
}

