.main {
  width: 100%;
  max-width: 600px;
  font-family: sans-serif
}

caption, .footer {
  color: #ffffff;
  background-color: #D11D27;
  text-align: left;
  padding: 5px;
}

.footer{
  font-size: 0.7em;
}

.header, .footer{
  padding: 10px;
}

table{
  width: 100%;
}

tr{
  background-color: #eeeeee;
  padding: 5px
}

.pre{
  white-space: pre;
}
